In [2]:
from bs4 import BeautifulSoup
import requests

In [12]:
url = 'https://theoutsideinvestor.net/us-vs-india-top-companies'

page = requests.get(url)
html_code = BeautifulSoup(page.text, 'html')

In [6]:
tables = html_code.find_all('table')

In [19]:
table_us = tables[0]
table_india = tables[1]

In [59]:
title_ind = table_india.find_all('th')
table_title_ind = [title.text.strip() for title in title_ind]
table_title_ind

['Rank', 'Company Name', 'Sector', 'Market Capitalization (in Billions USD)']

In [105]:
import pandas as pd
df_ind = pd.DataFrame(columns=table_title_ind)

['10', 'Sun Pharmaceutical Industries Ltd', 'Pharmaceuticals', '$50']

In [117]:
row_data_ind = table_india.find_all('tr')

for data in row_data_ind[1:]:
    ind_data = data.find_all('td')
    ind_val = [data.text.strip() for data in ind_data]

    length = len(df_ind)
    df_ind.loc[length] = ind_val

In [118]:
title_us = table_us.find_all('th')
table_title_us = [th.text.strip() for th in title_us]

In [119]:
df_us = pd.DataFrame(columns = table_title_us)

In [120]:
row_data_us = table_us.find_all('tr')

for data in row_data_us[1:]:
    us_data = data.find_all('td')
    us_data_table = [data.text.strip() for data in us_data]

    length_us = len(df_us)
    df_us.loc[length_us] = us_data_table
df_us
df_ind

,Rank,Company Name,Sector,Market Capitalization (in Billions USD)
0,1,Reliance Industries Ltd,Conglomerate,$200
1,2,Tata Consultancy Services Ltd (TCS),Information Technology,$177
2,3,Bharti Airtel Ltd,Telecommunications,$109
3,4,State Bank of India (SBI),Banking,$85
4,5,ITC Ltd,Consumer Goods,$69
5,6,Hindustan Unilever Ltd (HUL),Consumer Goods,$68
6,7,Life Insurance Corporation of India,Insurance,$67
7,8,HCL Technologies Ltd,Information Technology,$59
8,9,Larsen and Toubro Ltd,Engineering & Construction,$57
9,10,Sun Pharmaceutical Industries Ltd,Pharmaceuticals,$50

In [124]:
df_us.to_csv(r'C:/Users/HP/Desktop/Data sets/pytn_wb_scrpng/com_data_us.csv', index = False)